$bg-color: #f2f2f2;
$color-white: #ffffff;
$color-dark-blue: #39537f;
$color-light-blue: #40678b;
$color-link-dark-blue: #132441;
$color-terquise: #bbecfc;
$color-black: #000000;
$color-yellow: #f9edc7;
$color-yellow-text: #63321c;
$color-green: #d2f0cd;
$color-green-text: #153311;
$color-red: #fecbcb;
$color-red-text: #6f2323;
$color-grey: #636363;