#all-invoices {
	color: $color-dark-blue;
	font-size: 1rem;
	font-weight: 700;
	margin: 2em 0 .9em;
	letter-spacing: .035em;
}

.m-table-all-invoices {
	width: 100%;
	background-color: $color-white;
	color: $color-dark-grey;
	font-weight: 700;
	font-size: .875rem;
	padding: 0 1em;
	margin-bottom: 1em;
	border-radius: .8em;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba($color-black, .15);


	thead tr th {
		text-transform: uppercase;
		letter-spacing: .05em;
		font-size: .9em;
		background-color: $color-blue;
		padding: 1.3em 0;
	}

	tbody {
		tr:nth-child(even) {
			background-color: $color-blue;
		}

		td {
			padding: 1em 0;
			a {
				color: $color-dark-grey;
			}
			.background-info {
				color: $color-light-grey;
			}
		}
	}

	th:nth-child(1), td:nth-child(1) {
		text-align: center;
		padding-left: .5em;
		padding-right: .5em;
	}
		
	th:nth-child(2), td:nth-child(2) {
		text-align: left;
	}

	th:nth-child(3), td:nth-child(3) {
		text-align: right;
		padding-right: 2.5em;
	}

	th:nth-child(4), td:nth-child(4){
		text-align: left;
		padding-left: 3.5em;
	}

	th:nth-child(5), td:nth-child(5) {
		text-align: right;
		padding-right: 3em;
	}
	
	th:nth-child(6), td:nth-child(6) {
		display: none;
	}

	th:nth-child(7) , td:nth-child(7) {
		text-align: left;
		padding-left: 2.5em;
	}

	th:nth-child(8), td:nth-child(8) {
		text-align: center;
		padding-right: 1.7em;
	}
}
