#recent-invoice {
	color: $color-dark-blue;
	font-size: 1rem;
	font-weight: 700;
	margin: 1.7em 0 .9em;
	letter-spacing: .035em;
}

.m-recent-invoice {
	font-size: 1rem;
	background-color: $color-white;
	border-radius: .5em;
	box-shadow: 0 4px 10px rgba($color-black, .15);


	.item-info-recent-invoice {
		padding: 1em;
		position: relative;

		.item-person {
			font-size: 1rem;
			font-weight: 700;
			color: $color-link-dark-blue;
		}

		.m-status {
			position: absolute;
			right: 1em;
		}
		
		.total-recent-invoice {
			color: $color-dark-blue;
			font-size: 1.5em;
			padding: .3em 0;
		}

		.date-recent-invoice {
			font-size: 0.875em;
			color: $color-grey;
		}
	}
}