@font-face {
	font-family: 'Proxima Nova';
	src: url('../../font/ProximaNova.eot');
	src: local('Proxima Nova'), local('ProximaNova'),
		url('../../font/ProximaNova.eot?#iefix') format('embedded-opentype'),
		url('../../font/ProximaNova.woff') format('woff'),
		url('../../font/ProximaNova.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../../font/ProximaNova-Light.eot');
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url('../../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../../font/ProximaNova-Light.woff') format('woff'),
		url('../../font/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
  font-style: normal;
}

html, body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  background-color: $bg-color;
}

.container-center {
  margin: auto;
  padding: 0 3.125em;

  .block {
    display: block;
  }
}

.image-user {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}