header {
  position: relative;
  padding: 0 20px;
  font-size: 0.85rem;
  font-weight: 700;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul {
    margin: 0;

    li {
      padding: 25px 0;
      list-style: none;
      display: inline-block;

      a {
        padding: 25px;
        color: $color-link-dark-blue;
      }
    }
  }

  .name-user {
    display: none;
  }

  button {
    position: absolute;
    font-size: 0.8rem;
    right: 95px;

    i {
      font-size: 1.2rem;
      padding-right: 4px;
    }
  }
}
