.overview {
  background: linear-gradient(to bottom right, $color-light-blue, $color-dark-blue);
  padding: 1.1em 0;
  color: $color-white;
  font-family: 'Proxima Nova Lt', sans-serif;

  .item-state {
    text-transform: uppercase;
    color: $color-terquise;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .item-overview-total {
    font-size: 2.25rem;
    margin: .3em 0;
  }
}