a, a:link, a:visited, a:active, a:focus {
	outline: none;
	text-decoration: none;
	transition: all .2s ease-out;
}

.m-table-all-invoices a:hover {
	text-decoration: underline;
}

header li a:hover {
	background-color: $color-light-blue;
	color: $color-white;
}

.m-btn-new-invoice:hover, .m-btn-view-all:hover{
	transform: scale(1.05)
}

.m-btn-view-invoice:hover i{
	margin-left: .25em;
}

@media only screen and (max-width: 350px) {
	header {
		flex-direction: column;
		align-items: start;
		padding: 0;

		#logotype {
			padding: 1em 1em 0 1em;
		}

		ul {
			padding: 1em 0 .8em 1em;
			li {
			display: block;
			padding: .7em 0;
				a {
					padding: .7em 0;
				}
			}
		}

		.item-current-user {
			margin-top: 1em;
			border-top: 1px solid $color-blue;
			width: 100%;
			display: flex;
			align-items: center;

			a {
				padding: 1em 1em .6em 1em;
			}

			.name-user {
				display: inline;
				color: $color-link-dark-blue;
			}
		}

		button {
			position: static;
			margin-left: 1em;
		}
	}
}